ion-card {
  --background: #29df57; // Warna latar belakang kartu
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #141515; // Warna teks nama
  text-align: center;
}

ion-card-subtitle {
  font-size: 1.2rem;
  color: #1b1a1a; // Warna teks NIM
  text-align: center;
}

ion-card-content {
  font-size: 1rem;
  color: #333;
  padding: 16px;
  text-align: center;
}
